<script>
$(function(){
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
var path = encodeURIComponent(window.location.pathname);
if (window.gitlab_token) {
    $('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    $('#api-example').click(function() {
        $.ajax('https://gitlab.com/api/v4/projects/23162217/pipeline',{
                'data':JSON.stringify({
                    'ref': 'master',
                    'variables': [{'key':'ENV', 'value':$('#env').val(), 'variable_type':'env_var'},{'key':'CONTENT', 'value':$('#contentpath').is(':checked'), 'variable_type':'env_var'},{'key':'DESIGNS', 'value':$('#designspath').is(':checked'), 'variable_type':'env_var'},{'key':'ASSETS', 'value':$('#assetspath').is(':checked'), 'variable_type':'env_var'}]
                }),
                'method':'POST',
                'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '">View pipeline</a>');
                },
                'error':function(output) {
                    $('#api-output').html('<b>Error</b>')
                }});
        $('#pipeline-form').hide();
        $('#pipeline-after').show();
    })
} else {
    var url="https://gitlab.com/oauth/authorize?client_id=bcfe18d3a8cd5527c4f38d029de9e1199f8d8fec17efbbf0b5c904fa3f8945c1&redirect_uri=https://approver-group.gitlab.io/custom-pipeline-form/page/auth&response_type=token&scope=api&state=" + path;
    $('#signin').text("Sign in").prop('href',url);
    $('#api-example').click(function() {
        alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script>
